:root {
  /* Colors */
  --primary: #0080ff;
  --secondary: #02ffff;
  --surface: #ffffff;
  --background: #ffffff;
  --light-grey: #f5f5f5;
  --dark-grey: #b9bdc6;

  /* Structure */
  --general-margin: 10px;
  --content-margin: 12px;
  --corner-radius: 4px;

  /* Font */
  --main-font: Arial, Helvetica, sans-serif;
  --font-size: 18px;
  --color: #000000;
  --line-height: 1.6;

  /* Icons */
  --icon-dimension: 24px;
  --icon-dimension-36: 36px;
  --icon-dimension-48: 48px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  user-select: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
